<% payment_method = NimbleshopSplitable::Splitable.first %>

<%= content_tag :div, style: 'display:none', data: { behavior: "payment-method-form-#{payment_method.permalink}" } do %>

  <div style="width:100px;margin-left:90px;"><%= nimbleshop_splitable_picture_on_admin_payment_methods %></div>
  <br />


  <%= form_for NimbleshopSplitable::Splitable.first,  url: '/nimbleshop_splitable/splitable',
                                                      remote: true,
                                                      html: { method: 'put',
                                                              id: 'nimbleshop-splitable-form',
                                                              class: 'nimbleshop-payment-method-form form-horizontal'} do |f| %>

    <fieldset>
      <div class="control-group">
        <%= f.label :api_key, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :api_key, class: 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :api_secret, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :api_secret, class: 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :expires_in, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :expires_in, class: 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class='checkbox'>
            <%= f.check_box :mode, {}, 'test', 'production' %> Enable test mode
          </label>
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= link_to 'Disable', main_app.disable_admin_payment_method_path(payment_method), class: 'disable-payment-method-link', method: :put %>
      &nbsp;
      <%= f.submit('Submit', class: 'btn btn-primary') %>
    </div>
  <% end %>
<% end %>
