<% payment_method = NimbleshopCod::Cod.first %>

<%= content_tag :div, style: 'display:none', data: { behavior: "payment-method-form-#{payment_method.permalink}" } do %>

  <%= form_for payment_method,  url: '/nimbleshop_cod/cod',
                                                      remote: true,
                                                      html: { method: 'put',
                                                              id: 'nimbleshop-cod-form',
                                                              class: 'nimbleshop-payment-method-form form-horizontal'} do |f| %>

    <fieldset>
      <div class="control-group">
        <%= f.label :name, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'span6' %>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to 'Disable', main_app.disable_admin_payment_method_path(payment_method), class: 'disable-payment-method-link', method: :put %>
    </div>
  <% end %>
<% end %>
